---
layout: default
---

<div class="home">

  <h1 class="page-heading">Anleitungen</h1>

  <ul class="post-list">
    {% for install_instruction in site.install_instructions %}
      <li>
        <h2>
          <a class="post-link" href="{{ install_instruction.url | prepend: site.baseurl }}">{{ install_instruction.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Pakete</h1>


  <ul class="post-list">
    {% for packages in site.packages %}
      <li>
        <h2>
          <a class="post-link" href="{{ packages.url | prepend: site.baseurl }}">{{ packages.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
