<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="https://{{ site.site_norbert_ruehl_de }}">{{ site.site_norbert_ruehl_de }}</a></li>
          <li><a href="https://{{ site.site_github }}">{{ site.site_github }}</a></li>
          <li><a href="https://{{ site.site_gitlab }}">{{ site.site_gitlab }}</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.gitlab_norbert-ruehl_de_username %}
          <li>
            {% include icon-gitlab.norbert-ruehl.de.html username=site.gitlab_norbert-ruehl_de_username %}
          </li>
          {% endif %}

          {% if site.gitlab_net4it_de_username %}
          <li>
            {% include icon-gitlab.net4it.de.html username=site.gitlab_net4it_de_username %}
          </li>
          {% endif %}

          {% if site.gitlab_username %}
          <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
